{% extends "base.html.twig" %}

{% block title %}Create an article
{% endblock %}
{% block main %}
	<main>

		<h2>Créer un article</h2>

		<form method="POST">
			<div>
				<label>Title
					<input type="text" name="title">
				</label>
			</div>

			<div>
				<label>Description
					<input type="text" name="description">
				</label>
			</div>

			<div>
				<label>Content
					<textarea name="content"></textarea>
				</label>
			</div>

			<div>
				<label>Image
					<input type="text" name="image">
				</label>
			</div>

			<input type="submit">
		</form>


	</main>

{% endblock main %}
