<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Piscine_Blog</title>
	</head>
	<body>
		<header>
			<h2>Mon Blog</h2>
			<nav>
				<ul>
					<li>
						<a href="{{ path ('home') }}">Home</a>
					</li>
					<li>
						<a href="{{ path ('create-article') }}">Create an article</a>
					</li>
					<li>lien X</li>
				</ul>
			</nav>
		</header>

	</body>
</html>
